/* Dark Mode styles */

.theme-light {
  --color-primary: #EBEBEB;
  --color-card: #E0E0E0;
  --color-token: #CCCCCC;
  --font-secondary-color: #2c2c2c;
  --font-link: #135081;
  --font-main-color: #333333;
}
.theme-dark {
  --color-primary: #191F2C;
  --color-card: #283041;
  --color-token: #3A4763;
  --font-secondary-color: #D1C975;
  --font-link: #00A1E0;
  --font-main-color: #CFCFCF;
}

body {
  overflow-y: scroll; /* Show vertical scrollbar */
  font-size: 0.8rem;
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
}

.divider {
  border-top: 1px dashed #585858;
}

/* Disable scrolling */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.accordion-body.in {
  overflow: visible;
}

.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.app {
  padding: 5px;
}

.app-body-loading {
  text-align: center;
}

.app-h1 {
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.app-h1 .binance-img {
  width: 17px;
  vertical-align: text-top;
}

.app-h1 i {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.app-header {
  margin-bottom: 5px;
}

.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header-wrapper .header-column.header-column-title {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}

.header-wrapper .header-column.header-column-title h1 {
  line-height: 25px;
}

.header-wrapper .header-column.header-column-icon {
  text-align: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.header-wrapper .header-column.header-column-icon i {
  color: var(--font-main-color);

  font-size: 20px;
}

.footer-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-wrapper .footer-column {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.coin-info-label-with-icon {
  display: flex;
  justify-content: flex-start;
}

.coin-info-label-with-icon button {
  margin: 0;
  padding: 0;
  line-height: 15px;
  margin-left: 5px;
}
.coin-info-label-with-icon i {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
  font-size: 15px;
}

.coin-info-column-price .coin-info-value-with-icon {
  display: flex;
  justify-content: flex-end;
}

.coin-info-column-price .coin-info-value-with-icon button {
  margin: 0;
  padding: 0;
  line-height: 15px;
  margin-left: 5px;
}
.coin-info-column-price .coin-info-value-with-icon i {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
  font-size: 15px;
}

.accordion-wrapper {
  margin-bottom: 10px;
}

.account-wrapper-assets {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.account-wrapper-asset {
  width: 20%;
}

@media (max-width: 1200px) {
  .account-wrapper-asset {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .account-wrapper-asset {
    width: 33.33%;
  }
}

@media (max-width: 600px) {
  .account-wrapper-asset {
    width: 50%;
  }
}

.account-wrapper-body {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  padding: 10px;
  background-color: var(--color-primary);
  transition: background-color 0.5s ease-in-out;
}

.accordion-wrapper .btn-account-balance,
.accordion-wrapper .btn-status {
  color: #809fff;
}

.accordion-wrapper .btn-profit-loss {
  display: inline-block;
  font-weight: 400;
  color: #809fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.account-balance-actions-wrapper .btn-convert-to-bnb {
  color: #f4bd34;
}

.account-asset-coin {
  font-weight: bold;
}

.account-asset-row {
  display: flex;
  flex-flow: row wrap;
}

.account-asset-label {
  flex: 1 40%;
}
.account-asset-value {
  flex: 1 60%;
  text-align: right;
}

.coin-wrappers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.coin-wrapper {
  width: 24.5%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
  margin: 3px;
  flex: 25% auto;
  transition: all 0.5s ease-in-out;
}

.coin-wrapper:hover {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 4px var(--font-secondary-color), 0 1px 4px var(--font-secondary-color);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .coin-wrapper {
    width: 50%;
    flex: 50% auto;
  }
}

@media (max-width: 550px) {
  .coin-wrapper {
    width: 100%;
    flex: 100% auto;
  }
}

.coin-wrapper-even {
  background-color: var(--color-card);
  transition: background-color 0.5s ease-in-out;
}

.coin-info-wrapper {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-flow: row wrap;
}

.coin-info-sub-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.coin-info-sub-open-order-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.coin-info-column {
  flex: 1 100%;
  display: flex;
  flex-direction: row;
}

.coin-info-column-name {
  font-weight: bold;
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
  font-size: 1rem;
}

.coin-symbol {
  color: #809fff;
}

.coin-info-spinner {
  margin: 3px 5px 3px 3px;
}

.coin-info-sub-wrapper-symbol {
  display: flex;
  flex-flow: row wrap;
}

.coin-info-sub-wrapper-symbol .coin-info-column {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.coin-info-sub-wrapper-symbol .coin-info-column-icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.coin-info-sub-wrapper-symbol .coin-info-column-icon button {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.coin-info-column-title {
  border-top: 1px solid rgb(143, 143, 143);
  border-bottom: 1px solid rgb(143, 143, 143);
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
}

.coin-info-sub-open-order-wrapper:first .coin-info-column-title {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.coin-info-column-title-setting {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.coin-info-column-title-setting i {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
  font-size: 15px;
}

.coin-info-content-setting {
  border-top: 1px solid rgb(143, 143, 143);
  width: 100%;
  padding-top: 5px;
  margin-top: 5px;
}

.coin-info-column-title-setting .coin-info-label {
  display: flex;
  justify-content: flex-start;
}

.coin-info-sub-label {
  border-bottom: 1px dotted var(--font-main-color);;
}

.coin-info-label,
.coin-info-value {
  width: 50%;
  flex: 1 auto;
}

.coin-info-column-title .coin-info-label {
  font-weight: bold;
}

.coin-info-column-title .coin-info-value {
  font-style: italic;
  font-size: 0.8rem;
}

.coin-info-value {
  text-align: right;
}

.coin-info-sub-open-order-wrapper .coin-info-column-title .coin-info-label {
  font-weight: normal;
}

.coin-info-value-up,
.coin-info-value-buy {
  color: #02c076;
}

.coin-info-value-down,
.coin-info-value-sell {
  color: #f84960;
}

.blink {
  animation: blinker 0.5s ease;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/**
  Start: Theming
*/

.modal-body {
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
}

.modal-content {
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
}

.modal-footer {
  color: var(--font-main-color);
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.form-control {
  color: var(--font-main-color);
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.rbt-menu {
  background: var(--color-primary);
  transition: background 0.5s ease-in-out;
}

.rbt-input-main {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.dropdown-item {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.card {
  background: var(--color-card);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 4px;
  transition: background 0.5s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
}

.card-header {
  background: transparent !important;
}

.modal-dialog {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.text-muted {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

.rbt-token {
  color: var(--font-secondary-color);
  background: var(--color-token);
  transition: background 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.form-header {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.fa-toggle-on {
  color: #02c076;
}

.fa-toggle-off {
  color: #f84960;
}


.coin-setting-customised {
  color: #deb887;
}

.btn-link {
  color: var(--font-link);
  transition: color 0.5s ease-in-out;
}

.btn {
  color: var(--font-main-color);
  transition: color 0.5s ease-in-out;
}

/**
  Start: End Theming
*/

/**
  Start: Manual Trade
*/
.input-group > .input-group-prepend {
  flex: 0 0 25%;
}
.input-group .input-group-text {
  width: 100%;
  color: var(--font-secondary-color);
  background: var(--color-token);
  transition: background 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.input-group > .input-group-append {
  flex: 0 0 25%;
}

.btn-manual {
  margin: 2px 0px 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 20px;
  word-break: keep-all;
  padding: 6px 12px;
  height: 45px;
  border: none;
  border-radius: 4px;
  color: white;
}

.btn-manual:active,
.btn-manual:hover {
  color: white;
}

.btn-manual-trade {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  background-color: var(--font-secondary-color) !important;
  color: var(--color-primary) !important;
  transition: all 0.5s ease-in-out !important;
}

.btn-manual-trade:hover {
  color: #CFCFCF !important;
  background-color: rgba(86, 44, 163, 0.855) !important;
  transition: all 0.5s ease-in-out !important;
  text-decoration: none;
}

.btn-manual-buy {
  background-color: rgb(2, 192, 118);
}

.btn-manual-buy:active:not(:disabled) {
  box-shadow: none;
  background-color: rgb(21, 152, 101);
  transition: all 0.5s ease-in-out !important;
}

.btn-manual-buy:hover:not(:disabled):not(:active) {
  box-shadow: none;
  background-color: rgb(46, 209, 145);
  transition: all 0.5s ease-in-out !important;
}

.btn-manual-sell {
  background-color: rgb(248, 73, 96);
}

.btn-manual-sell:active:not(:disabled) {
  box-shadow: none;
  background-color: rgb(207, 48, 74);
  transition: all 0.5s ease-in-out !important;
}

.btn-manual-sell:hover:not(:disabled):not(:active) {
  box-shadow: none;
  background-color: rgb(255, 66, 101);
  transition: all 0.5s ease-in-out !important;
}

.manual-trade-wrappers {
  display: flex;
  flex-direction: row;
}

.manual-trade-wrapper {
  width: 50%;
  padding-right: 20px;
}

@media (max-width: 800px) {
  .manual-trade-wrappers {
    flex-direction: column;
  }

  .manual-trade-wrapper {
    width: 100%;
    padding-right: 0;
  }

  .manual-trade-sell-wrapper {
    margin-top: 20px;
  }
}

.manual-trade-all-wrapper {
  width: 100%;
  padding-right: 0;
}

.manual-trade-all-row-base-assets-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.manual-trade-all-row-base-assets {
  width: 50%;
}

@media (max-width: 600px) {
  .manual-trade-all-row-base-assets-wrapper {
    flex-direction: column;
  }

  .manual-trade-all-row-base-assets {
    width: 100%;
  }
}

.manual-trade-title-buy {
  font-weight: bold;
  font-size: 1.2rem;
}

.manual-trade-quote-asset-title {
  margin-top: 10px;
  font-size: 0.9rem;
  border-bottom: 1px solid #c1c1c1;
}

.btn-percentage {
  font-size: 0.7rem !important;
  line-height: 1 !important;
  padding: 0.2rem 0.5rem !important;
}

/**
  End: Manual Trade
*/

.btn-cancel-order {
  line-height: 0.8rem;
  vertical-align: unset;
  color: #f84960;
}

.btn-backtest {
  line-height: 0.8rem;
  vertical-align: unset;
  color: #f84960;
}

.btn-cancel-order:hover {
  color: #f84960ce;
}

/**
  Start: Profit Loss
*/

.profit-loss-wrapper {
  width: 20%;
}

.profit-loss-wrapper-body {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--color-primary);
  transition: background-color 0.5s ease-in-out;

  display: flex;
  flex-flow: row wrap;
}

.profit-loss-asset {
  flex: 1 40%;
  font-weight: bold;
}

.profit-loss-value {
  flex: 1 60%;
  text-align: right;
}

@media (max-width: 1200px) {
  .profit-loss-wrapper {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .profit-loss-wrapper {
    width: 33.3333%;
  }
}

@media (max-width: 600px) {
  .profit-loss-wrapper {
    width: 50%;
  }
}

/**
  End: Profit Loss
*/

/**
  Start: Dust Transfer
*/
.btn-dust-transfer {
  color: #c99400;
}

.btn-dust-transfer:hover {
  color: #e2a600;
}

.checkbox-dust-transfer-symbol label {
  line-height: 1.5rem;
}
/**
  End: Dust Transfer
*/

.search-container {
  width: auto !important;
}

.search-box {
  width: 20px;
  height: 20px;
  border-radius: 20px;border: none;
  cursor: pointer;
  background: var(--font-main-color);
}
  .search-box label .search-icon {
    color: var(--color-primary);
    transition: color 0.5s ease-in-out
  }

.search-box:hover {
    color: var(--font-main-color);
    background: var(--color-primary);
    box-shadow: 0 0 0 5px var(--font-secondary-color);

  transition: all 0.5s ease-in-out !important;
}
.search-box label .search-icon {
  color: var(--color-primary);
  transition: color 0.5s ease-in-out !important;
   }

  .search-box:focus {
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 120px;
    border-radius: auto;
    background: var(--font-main-color);
    color: var(--color-primary);
    transition: all 0.5s ease-in-out;
  }
  .search-box label .search-icon {
    color: var(--color-primary);
    transition: color 0.5s ease-in-out !important;
   }

  .search-box:not(:focus) {
    width: 20px;height: 20px;
    border-radius: 20px;border: none;
    cursor: pointer;
    background: var(--font-main-color);
    color: var(--font-main-color);
    transition: all 0.5s ease-in-out !important;
     }

#search-submit {
  position: relative;left: -5000px;
  transition: all 0.5s ease-in-out !important;
}

.search-icon {
  position: relative;
  left: -16px;
  color: var(--color-primary);
  cursor: pointer;
}

.gg-color-picker {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 18px;
  height: 10px;
  border-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top: 3px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  box-shadow: inset 0 0 0 2px
}
